{% extends 'base.html' %}
{% block title %}
메인페이지
{% endblock %}

{% block content %}
<div class="main_body", style="width: 1700px;" >
    <!-- 오른 쪽 컬럼-->
    
        <div class="right_body">
            <div class="feed_name" style="justify-content: space-between">
                <div style="display: flex; align-items: center; ">
                    <div class="big_profile_box">
                        <img class="profile_img"
                            src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> {{ user.username }} </span>
                        <span class="name_content_txt"> {{ user.first_name }} </span>
                    </div>
                </div>
            </div>
            

            <div class="recommend_box">
                <span style="color: gray"> 회원님을 위한 추천</span>
                {% if user.is_authenticated %}
                <span style="font-size: 12px;">
                    <a style="text-decoration: none; color: inherit;" href="/user">모두 보기</a>
                </span>
                {% endif %}
            </div>

            <div>         

                {% for rl in recommend_list %}
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img class="profile_img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTiCVWdogd6Ocsm08kL8ph4sb1MN0AYEiSUQ&usqp=CAU">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> {{ rl.username }} </span>
                        <span class="name_content_txt"> {{ rl.first_name }}</span>
                    </div>
                    <div>
                        {% if rl in user.follow.all %}
                        <a href="/tweet/home/{{ rl.id }}" class="link_txt"style="color:grey;">
                            팔로잉
                        </a>
                        {% else %}
                        <a href="/tweet/home/{{ rl.id }}" class="link_txt" >
                            팔로우
                        </a>
                        {% endif %}
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>


        <!-- 왼쪽 컬럼-->
        <!-- 작성 된 글이 나오는 곳 -->
        <div class="left_body">
            {% for tw in tweet %}
            <div class="border feed_box">
                <div class="container1">

                    <a class="navbar-brand1" href="/" style="text-decoration: none; color: inherit;">    
                        <div style="display: flex; align-items: center; ">
                            <div class="big_profile_box">
                                <!-- <a href="/tweet/{{ tw.id }}">
                                    <img class="profileimage " src="{{ tw.image.url }}">
                                </a> -->
                                <img class="profileimage"
                                    src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                            </div>
                            <div class="name_content">
                                <span class="feed_name_txtt">{{ tw.author }} </span>
                                
                            </div>
                        </div>
                    </a>

                </div>

                <a href="/tweet/{{ tw.id }}">
                    <img class="feed_img " src="{{ tw.image.url }}">
                </a>
                <div class="feed_icon">
                    <div>
                        <span class="material-icons-outlined">
                            favorite_border
                        </span>
                        <span class="material-icons-outlined">
                            mode_comment
                        </span>
                        <span class="material-icons-outlined">
                            send
                        </span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">
                            turned_in_not
                        </span>
                    </div>
                </div>
                <div class="feed_like">
                    <p class="feed_txt"> <b>좋아요 10개</b></p>
                </div>
                <div class="feed_content">
                    <p class="feed_txt"> <b> {{ tw.author }} </b> {{ tw.content }}
                    <div style="text-align: left">
                        <span style="font-size: small">{{ tw.updated_at|timesince}} 전</span>
                    </div>
                    </p>
                    {% if tw.tags.all %}
                    {% for tag in tw.tags.all %}
                    <a style="text-decoration: none" href="{% url 'tagged_object_list' tag.name %}">
                        <span class="badge rounded-pill bg-success">
                            {{ tag.name }}
                        </span>
                    </a>
                    {% endfor %}
                    <a style="text-decoration: none" href="{% url 'tag_cloud' %}"></a>
                    {% endif %}
                    
                </div>
                
                <div class="feed_reply">
                    <div class="feed_reply">
                        
                        {% for cm in tw.tweetcomment_set.all %} 
                        <span class="feed_txt"> <b> {{ cm.author }} </b> {{ cm.comment }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="blank"></div>
                    <div class="input-group">
                        <div class="input-group-text" id="btnGroupAddon2">😃</div>
                        <input type="text" class="form-control" placeholder="댓글 달기.." aria-label="Input group example" aria-describedby="btnGroupAddon2">
                      </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    
</div>

{% endblock %}

