{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="main_body" , style="width: 1000px; margin: 0px auto 0px auto;"> 
    <!-- 왼쪽 컬럼-->
    <!-- 작성 된 글이 나오는 곳 -->
    <div class="left_body">
        {% for tw in tweet %}
        <div class="border feed_box">
            <div class="container1">
                <a class="navbar-brand1" href="/" style="text-decoration: none; color: inherit;">
                    <div style="display: flex; align-items: center; ">
                        <div class="big_profile_box">
                            <a href="/tweet/{{ tw.id }}">
                                {% if tw.author.profile %}
                                <img class="profileimage" src="{{ tw.author.profile.url }}">
                                {% else %}
                                <img class="profileimage"
                                    src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231712/thesomeday123171200009/91087331-%EB%82%A8%EC%84%B1%EC%9D%84%EC%9C%84%ED%95%9C-%EA%B8%B0%EB%B3%B8-%EC%95%84%EB%B0%94%ED%83%80-%ED%94%84%EB%A1%9C%ED%95%84-%EC%95%84%EC%9D%B4%EC%BD%98-%ED%9A%8C%EC%83%89-%EC%82%AC%EC%A7%84-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C-%EC%9E%90-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%B2%A1%ED%84%B0.jpg?ver=6">
                                {% endif %}
                            </a>
                        </div>
                        {% if tw.author == user %}
                        <div class="name_content">
                            <p class="feed_name_txtt">{{ tw.author }} <a href="/post-edit/{{ tw.id }}" class="fs-5" style="margin-left:260px; color: black"><i class="bi bi-pencil"></i></a></p>
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <a href="/tweet/{{ tw.id }}">
                {% if tw.image %}
                <img class="feed_img " src="{{ tw.image.url }}">
                {% else %}
                <img class="feed_img "
                    src="https://blog.kakaocdn.net/dn/cEftca/btqAgU7ckZC/2JaB2RLUkvskP7TqowbTLk/img.png">
                {% endif %}
            </a>
            <div class="feed_icon">
                <div>
                    <span class="material-icons-outlined">
                        favorite_border
                    </span>
                    <span class="material-icons-outlined">
                        mode_comment
                    </span>
                    <span class="material-icons-outlined">
                        send
                    </span>
                </div>
                <div>
                    <span class="material-icons-outlined">
                        turned_in_not
                    </span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"> <b>좋아요 10개</b></p>
            </div>
            <div class="feed_content">
                <p class="feed_txt" > <b> {{ tw.author }} </b> {{ tw.content }}
                <div style="text-align: left">
                    <span style="font-size: small">{{ tw.updated_at|timesince }} 전</span>
                </div>
                </p>
                {% if tw.tags.all %}
                {% for tag in tw.tags.all %}
                <a style="text-decoration: none; color: inherit;" href="{% url 'tagged_object_list' tag.name %}">
                    #{{ tag.name }}
                </a>
                {% endfor %}
                <a style="text-decoration: none" href="{% url 'tag_cloud' %}"></a>
                {% endif %}
            </div>
            <div class="feed_reply">
                <div class="feed_reply">
                    {% for cm in tw.tweetcomment_set.all %}
                    <span class="feed_txt"> <b> {{ cm.author }} </b> {{ cm.comment }}</span>
                    {% endfor %}
                </div>
                <div class="blank"></div>
                <div class="input-group">
                    <div class="input-group-text" id="btnGroupAddon2">😃</div>
                    <input type="text" class="form-control" placeholder="댓글 달기.." aria-label="Input group example"
                        aria-describedby="btnGroupAddon2">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- 오른 쪽 컬럼-->
    <div class="right_body">
        <div class="feed_name" style="justify-content: space-between">
            <div style="display: flex; align-items: center; ">
                <div class="big_profile_box">
                    {% if user.profile %}
                    <img class="profile_img" src="{{ user.profile.url }}">
                    {% else %}
                    <img class="profile_img"
                        src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231712/thesomeday123171200009/91087331-%EB%82%A8%EC%84%B1%EC%9D%84%EC%9C%84%ED%95%9C-%EA%B8%B0%EB%B3%B8-%EC%95%84%EB%B0%94%ED%83%80-%ED%94%84%EB%A1%9C%ED%95%84-%EC%95%84%EC%9D%B4%EC%BD%98-%ED%9A%8C%EC%83%89-%EC%82%AC%EC%A7%84-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C-%EC%9E%90-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%B2%A1%ED%84%B0.jpg?ver=6">
                    {% endif %}
                </div>
                <div class="name_content">
                    <span class="feed_name_txt"> {{ user.username }} </span>
                    <span class="name_content_txt"> {{ user.first_name }} </span>
                </div>
            </div>
        </div>
        <div class="recommend_box">
            <span style="color: gray"> 회원님을 위한 추천</span>
            {% if user.is_authenticated %}
            <span style="font-size: 12px;">
                <a style="text-decoration: none; color: inherit;" href="/user">모두 보기</a>
            </span>
            {% endif %}
        </div>
        <div>
            {% for rl in recommend_list %}
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        {% if rl.profile %}
                        <img class="profileimage" src="{{ rl.profile.url }}">
                        {% else %}
                        <img class="profileimage"
                            src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231712/thesomeday123171200009/91087331-%EB%82%A8%EC%84%B1%EC%9D%84%EC%9C%84%ED%95%9C-%EA%B8%B0%EB%B3%B8-%EC%95%84%EB%B0%94%ED%83%80-%ED%94%84%EB%A1%9C%ED%95%84-%EC%95%84%EC%9D%B4%EC%BD%98-%ED%9A%8C%EC%83%89-%EC%82%AC%EC%A7%84-%EC%9E%90%EB%A6%AC-%ED%91%9C%EC%8B%9C-%EC%9E%90-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%B2%A1%ED%84%B0.jpg?ver=6">
                        {% endif %}
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> {{ rl.username }} </span>
                        <span class="name_content_txt"> {{ rl.first_name }}</span>
                    </div>
                    <div>
                        {% if rl in user.follow.all %}
                        <a href="/tweet/home/{{ rl.id }}" class="link_txt"style="color:grey;">
                            팔로잉
                        </a>
                        {% else %}
                        <a href="/tweet/home/{{ rl.id }}" class="link_txt" >
                            팔로우
                        </a>
                        {% endif %}
                    </div>
                    
                </div>
                {% endfor %}
        </div>
    </div>
   
</div>
{% endblock %}