{% extends 'base.html' %}
{% block title %}
메인페이지
{% endblock %}

{% block content %}
<div class="main_body", style="width: 1700px;" >
    <!-- 오른 쪽 컬럼-->
    
        <div class="right_body">
            <div class="feed_name" style="justify-content: space-between">
                <div style="display: flex; align-items: center; ">
                    <div class="big_profile_box">
                        <img class="profile_img"
                            src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> {{ user.username }} </span>
                        <span class="name_content_txt"> {{ user.first_name }} </span>
                    </div>
                </div>
            </div>

            <div class="recommend_box">
                <span style="color: gray"> 회원님을 위한 추천</span>
                {% if user.is_authenticated %}
                <span style="font-size: 12px;">
                    <a style="text-decoration: none; color: inherit;" href="/user">모두 보기</a>
                </span>
                {% endif %}
            </div>
            <div>
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img class="profile_img"
                            src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> dation3388 </span>
                        <span class="name_content_txt"> Instargram 신규가입</span>
                    </div>
                    <a class="link_txt">
                        팔로우
                    </a>
                </div>
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img class="profile_img"
                            src="http://file3.instiz.net/data/cached_img/upload/2021/01/27/18/2ce2f41f7e9f09c0acc77faac7452dbf.jpg">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> gaoudi </span>
                        <span class="name_content_txt"> IU 외 5명이 팔로우</span>
                    </div>
                    <a class="link_txt">
                        팔로우
                    </a>
                </div> 
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img class="profile_img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTiCVWdogd6Ocsm08kL8ph4sb1MN0AYEiSUQ&usqp=CAU">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> CAU </span>
                        <span class="name_content_txt"> IU 외 5명이 팔로우</span>
                    </div>
                    <a class="link_txt">
                        팔로우
                    </a>
                </div>
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img class="profile_img" src="https://pbs.twimg.com/media/EhzH0_DU4AEZ9yr.jpg">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> 123456789 </span>
                        <span class="name_content_txt"> 그냥 추천해봄 </span>
                    </div>
                    <a class="link_txt">
                        팔로우
                    </a>
                </div> 
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img class="profile_img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHPNYM5RQgA2F7BtpBQ-OrNFKDXVDUpypRuw&usqp=CAU">
                    </div>
                    <div class="name_content">
                        <span class="feed_name_txt"> instiz </span>
                        <span class="name_content_txt"> 애도 유명해 </span>
                    </div>
                    <a class="link_txt">
                        팔로우
                    </a>
                </div>
            </div>

        </div>



        <!-- 왼쪽 컬럼-->
        <!-- 작성 된 글이 나오는 곳 -->
        <div class="left_body">
            {% for tw in tweet %}
            <div class="border feed_box">
                <div class="container1">

                    <a class="navbar-brand1" href="/" style="text-decoration: none; color: inherit;">    
                        <div style="display: flex; align-items: center; ">
                            <div class="big_profile_box">
                                <img class="profileimage"
                                    src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                            </div>
                            <div class="name_content">
                                <span class="feed_name_txtt"> {{ user.username }} </span>
                                
                            </div>
                        </div>
                    </a>

                </div>

                <a href="/tweet/{{ tw.id }}">
                    <img class="feed_img " src="{{ tw.image.url }}">
                    <!-- <img class="feed_img "
                        src="https://mblogthumb-phinf.pstatic.net/MjAxNzA2MTFfMjc1/MDAxNDk3MTcyMDgyNzEw.ID5RyHWKvsVEW2NS9EQGyRYX7vUaXr7znQeuTrRRmdIg.gK7MD7VhNJPkV4_dueiWer2y-oH7NAAmEklF-6bbYyQg.JPEG.jejubyeol/%EC%97%AC%EB%A6%84%EC%97%90_%EC%A0%9C%EC%A3%BC%EB%8F%84_%EC%82%AC%EC%A7%84%EC%B0%8D%EA%B8%B0_%EC%A2%8B%EC%9D%80%EA%B3%B3.jpg?type=w800"> -->
                </a>
                <div class="feed_icon">
                    <div>
                        <span class="material-icons-outlined">
                            favorite_border
                        </span>
                        <span class="material-icons-outlined">
                            mode_comment
                        </span>
                        <span class="material-icons-outlined">
                            send
                        </span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">
                            turned_in_not
                        </span>
                    </div>
                </div>
                <div class="feed_like">
                    <p class="feed_txt"> <b>좋아요 10개</b></p>
                </div>
                <div class="feed_content">
                    <p class="feed_txt"> <b> {{ user.username }} </b> {{ tw.content }}
                    <div style="text-align: left">
                        <span style="font-size: small">{{ tw.updated_at|timesince}} 전</span>
                    </div>
                    </p>
                    {% if tw.tags.all %}
                    {% for tag in tw.tags.all %}
                    <a style="text-decoration: none" href="{% url 'tagged_object_list' tag.name %}">
                        <span class="badge rounded-pill bg-success">
                            {{ tag.name }}
                        </span>
                    </a>
                    {% endfor %}
                    <a style="text-decoration: none" href="{% url 'tag_cloud' %}"></a>
                    {% endif %}
                    
                </div>
                
                <div class="feed_reply">
                    {% if comment %}
                    <div class="feed_reply">
                        
                        {% for cm in comment %} 
                        <span class="feed_txt"> <b> {{ cm.author }} </b> {{ cm.comment }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="blank">
                    </div>
                    <div class="input-group">
                        <div class="input-group-text" id="btnGroupAddon2">😃</div>
                        <input type="text" class="form-control" placeholder="댓글 달기.." aria-label="Input group example" aria-describedby="btnGroupAddon2">
                      </div>
                      {% endif %}
                </div>
                
            </div>
            {% endfor %}
        </div>
    
</div>

<!-- 
{% for cm in comment %}
<div class="row">
    <div class="col-md-12">
        <div class="media">
            <div class="media-body">
                <div style="display: flex; align-items: center; ">
                    <div class="detail_profile_box">
                        <img class="detail_profile_img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHPNYM5RQgA2F7BtpBQ-OrNFKDXVDUpypRuw&usqp=CAU">
                    </div>
                    <h5 class="detail_feed_name_txt">{{ cm.author }}</h5>
                    <h5 class="comment_txt">{{ cm.comment }}</h5>
                </div>
                <span class="detail_feed_txt"> - {{ cm.created_at | timesince }}</span>
                {% if cm.author == user %}
                <div style="float: right">
                    <a href="/tweet/comment/delete/{{ cm.id }}">
                        <span class="badge bg-danger">삭제</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endfor %} -->

{% endblock %}

