{% extends 'base.html' %}
{% block postadd %}


<div class="postadd_body">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div style="margin: 5px"> 새 게시물 </div>
            <a href="/">
                <div class="modal_title_side">
                    <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                        close
                    </span>
                </div>
            </a>
        </div>
        <form action="/tweet/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal_image_content">
                <div class="modal_image_upload_content">
                <input class="modal_image_upload_content" id="image"  type="file" name="image" multiple>
                <!-- <div id="input_image" class="modal_image_upload_content"> -->
                </div>
                <div class="modal_content_write">
                    <div class="feed_name">
                        <div class="profile_box">
                            <img id="input_profile_image" class="profile_img"
                                src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                        </div>
                        <span id="input_user_id" class="feed_name_txt"> {{ user.username }} </span>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                    {{ error }}
                    </div>
                    {% endif %}
                    <div style="height: 400px">
                        <textarea id="my-content" class="feed_content_textarea form-control col-sm-5" rows="10"
                            name='my-content' placeholder="내용을 입력하세요..."></textarea>
                    </div>
                    <div class="mt-3 row">
                        <label for="tag" class="col-sm-2 col-form-label">tag</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tag" id="tag" placeholder="콤마(,)로 구분 해 주세요">
                        </div>
                    </div>
                    <div style="width: 100%; text-align: center">
                        <button id="button_write_feed" type="submit" class="btn btn-primary" style="width: 268px">
                            공유하기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock postadd %}`