{% extends 'base.html' %}
{% block postadd %}
<div class="postadd_body">
   <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div style="margin: 5px"> 게시글 수정 </div>
            <div class="modal_title_side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                    close
                </span>
            </div>
        </div>
        <div class="modal_image_content">
            <div id="input_image" class="modal_image_upload_content">
                <div class="image_upload_content">
                    {{ tweet.image.url }}
                </div>
            </div>
            
            <div class="modal_content_write">
                <div class="feed_name">
                    <div class="profile_box">
                        <img id="input_profile_image" class="profile_img" src="{{ tweet.author.profile.url }}">
                    </div>
                    <span id="input_user_id" class="feed_name_txt"> {{ tweet.author.username }} </span>
                </div>
                <form action="/tweet/{{tweet.id}}" method="post">
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div style="height: 440px">
                        <textarea id="input_content" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="설명을 입력하세요..."></textarea>
                    </div>
                    <div style="width: 100%; text-align: center">
                        <button id="button_write_feed" type="submit" class="btn btn-primary" style="width: 268px"> 수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
    

{% endblock postadd %}