{% extends 'base.html' %}
{% block title %}
게시글 자세히보기
{% endblock %}
{% block content %}
<style>
    .detail_main_body {
        display: flex;
        justify-content: center;
        background-color: #FAFAFA;
        margin-top: 30px;
    }
    .detail_left_body {
        padding-top: 20px;
        width: 700px;
        height: 2000px;
        display: flex;
        flex-direction: column;
    }
    .detail_right_body {
        padding-top: 20px;
        width: 350px;
        height: 100%;
        margin-right: 200px;
        left: 72%;
    }
    .feed_detail {
        margin-top: 20px;
    }
    .detail_feed_box {
        background-color: black;
        height: 100px;
    }
    .detail_feed_box_left {
        background-color: black;
        width: 700px;
        margin: 20px 0px 20px 0px;
        height: 480px;
        padding: 10px 0px 20px 0px;
    }
    .detail_feed_box_right {
        background-color: white;
        width: 600px;
        padding-top: 10px;
        height: 500px;
    }
    .detail_feed_img {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
    .detail_feed_content {
        padding: 10px;
        height: 70px;
    }
    .detail_feed_txt {
        font-size: 13px;
    }
    .feed_detail {
        padding-top: 10px;
        border-top: 1px solid lightgray;
        height: 100px;
    }
    .detail_feed_name {
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
    .comment_list{
        padding-top: 50px;
        height: 200000px;
        width: 100%;
    }
    .comment_profile{
        height: 10px;
        margin-top: 65px;
    }
    .detail_feed_name_txt {
        font-size: 14px;
        padding: 0px 10px;
        font-weight: bold;
    }
    .detail_profile_box {
        width: 35px;
        height: 35px;
        border-radius: 70%;
        overflow: hidden;
    }
    .detail_profile_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .detail_name_content {
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    .comment_list{
        max-height: 240px;
        overflow-y: auto;
    }
    .comment_list::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
    .comment_box {
        color: lightgray;
        display: flex;
        flex-direction: column;
        margin:5px 5px 0px 0px;
    }
    .comment_profile {
        display: flex;
        align-items: center;
    }
    .comment_img {
        padding: 0px 5px 15px 5px;
    }
    .comment_txt {
        font-size: 13px;
        margin-right: 50px;
    }
    .imoticon {
        width:100%;
    }
    .badge {
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>
<div class="detail_main_body">
    <!-- 상세 왼쪽 -->
    <div class="detail_left_body">
        <div class="border detail_feed_box">
            <div class="detail_feed_box_left">
                <img class="detail_feed_img " src="{{ tweet.image.url }}">
            </div>
        </div>
    </div>
    <!-- 상세 오른쪽 -->
    <div class="detail_right_body">
        <div class="border detail_feed_box_right">
            <div class="detail_feed_name" style="justify-content: space-between">
                <div style="display: flex; align-items: center; ">
                    <div class="detail_profile_box">
                        
                        <img class="detail_profile_img"
                            src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                    </div>
                    <div class="detail_name_content">
                        <span class="detail_feed_name_txt">{{ tweet.author.username }}</span>
                    </div>
                    {% if tweet.author == user %}
                    <div style="float: right">
                        <a href="/tweet/delete/{{ tweet.id }}">
                            <span class="badge bg-danger">삭제</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="feed_detail">
                <div class="detail_feed_name">
                    <div style="display: flex; align-items: center; ">
                        <div class="detail_profile_box">
                            <img class="detail_profile_img"
                                src="https://product.cdn.cevaws.com/var/storage/images/_aliases/reference/media/feliway-2017/images/kor-kr/1_gnetb-7sfmbx49emluey4a/6341829-1-kor-KR/1_gNETb-7SfMBX49EMLUeY4A.jpg">
                        </div>
                        <div class="detail_name_content">
                            <span class="detail_feed_name_txt">{{ tweet.author.username }}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="detail_feed_content">
                        <p class="detail_feed_txt">{{ tweet.content }}</p>
                        {% if tw.tags.all %}
                        {% for tag in tw.tags.all %}
                        <a style="text-decoration: none" href="{% url 'tagged_object_list' tag.name %}">
                            <span class="badge rounded-pill bg-success">
                                {{ tag.name }}
                            </span>
                        </a>
                        {% endfor %}
                        -<a style="text-decoration: none" href="{% url 'tag_cloud' %}">TagCloud</a>
                        {% endif %}
                    </div>
                    <div style=padding:10px;>
                        <span style="font-size: small">{{tweet.created_at|timesince }}</span>
                    </div>
                </div>
            </div>
            <div class="comment_list">
                <p class="detail_feed_txt">
                    {% for cm in comment %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <div style="display: flex; align-items: center; ">
                                        <div class="detail_profile_box">
                                            <img class="detail_profile_img"
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHPNYM5RQgA2F7BtpBQ-OrNFKDXVDUpypRuw&usqp=CAU">
                                        </div>
                                        <h5 class="detail_feed_name_txt">{{ cm.author }}</h5>
                                        <h5 class="comment_txt">{{ cm.comment }}</h5>
                                    </div>
                                    <span class="detail_feed_txt"> - {{ cm.created_at | timesince }}</span>
                                    {% if cm.author == user %}
                                    <div style="float: right">
                                        <a href="/tweet/comment/delete/{{ cm.id }}">
                                            <span class="badge bg-danger">삭제</span>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </p>
            </div>
            <div class="comment_box">
                <div class="comment_profile">
                    <div class="comment_img">
                        <div class="input-group-text" id="btnGroupAddon2">😃</div>
                     </div>
                    <form class="input-group mb-3" action="/tweet/comment/{{ tweet.id }}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" id='comment' name='comment'
                            placeholder="댓글을 작성 해 주세요" />
                        <button class="btn btn-outline-secondary" type="submit">작성</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}